.destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-bege-claro);
    padding: 70px 0;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destaque-titulo{
    color: var(--cor-coral);
    font-family: var(--fonte-titulo);
    font-size: 64px;
    width: 500px;
}

.destaque-titulo > span{
    color: var(--cor-verde-escuro);
}

@media screen and (max-width: 1114px) {
    .destaque{
        padding: 60px;
    }

    .banner{
       flex-wrap: wrap-reverse;
       justify-content: center;
    }

    .destaque-titulo{
        width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .banner > img{
        width: 400px;
    }

    .destaque-titulo{
        font-size: 50px;
    }
}

@media screen and (max-width: 428px) {
    .banner > img{
        width: 320px;
    }

    .destaque-titulo{
        font-size: 35px;
    }
}